@model IEnumerable<Ingredient>

@{
    ViewData["Title"] = "Index";
}

<h1>Вы находитесь в ингредиентах ❤️</h1>

<p>
    <a asp-action="Create">Добавить новое</a>
</p> 

<form asp-controller="Ingredients" asp-action="Index">
    <p>
        <label>Название: <input type="text" name="SearchString" /></label>
        <input type="submit" value="Фильтр" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAllergen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAllergen)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
